{% extends 'todo_home/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container col-5">
    <form  method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom bm-4">
                Create an Account
            </legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-dark" type="submit">
                Sign Up
            </button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Already have an Account? <a href="{% url 'user-login' %}" class="ml-2"> Click here to Log In</a></small>
    </div>
</div>
</div>

{% endblock content %}