<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'todo_home/css/bootstrap.css' %}">

  <title>Todo-App</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary mb-2">
    <div class="container-fluid">
      <a class="navbar-brand mx-1" href="{% url 'todo-home' %}">Todo-App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link me-3" href="{% url 'todo-create' %}"><b>Add Task</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3" href="{% url 'todo-tasks-done' %}"><b>Completed Tasks</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3" href="{% url 'user-profile' %}"><b>Account</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3" href="{% url 'user-logout' %}"><b>Logout</b></a>
          </li>    
          <li class="nav-item">
            <a href="{% url 'user-profile' %}"><img src="{{ user.profile.image.url }}" alt="..."  class="rounded-circle" width="30"></a>
          </li>    
          {% else %}
          <li class="nav-item">
            <a class="nav-link me-3" href="{% url 'user-login' %}"><b>Sign In</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link me-3" href="{% url 'user-register' %}"><b>Sign Up</b></a>
          </li>    
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% block content %}

  {% endblock %}
</body>

</html>